<div class="row">
 <div class="col-lg-12">
<div class="well bs-component">
  <div class="form-horizontal">
      <%= simple_form_for :search_group, url: places_path do |p| %>
      <fieldset>
        <legend>Wyszukiwarka</legend>

        <div class="form-group">
          <label class="col-lg-2 control-label">Grupy: </label>
          <div class="col-lg-10">
            <%= p.input :groups, placeholder: 'Wyszukaj grupy', label: false, :input_html => { :id => 'tokeninput', :class => 'col-md-12' } %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Szukaj od: </label>
          <div class="col-lg-10">
            <%= p.input :start_date, :class => "form-control", label: false, placeholder: Time.now.strftime("%Y-%m-%d"), :input_html => { :id => 'start_date_picker' } %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Szukaj do: </label>
          <div class="col-lg-10">
            <%= p.input :end_date, :class => "form-control", label: false, placeholder: Time.now.strftime("%Y-%m-%d"), :input_html => { :id => 'end_date_picker' } %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Ilość wolnych bloków zajęć </label>
          <div class="col-lg-10">
            <%= p.input :block_size, label: false, :class => "form-control", collection: 1..16, selected: 2 %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Pracownia komputerowa: </label>
          <div class="col-lg-10">
            <%= p.input :computer_lab, as: :boolean, :class => "form-control", label: false, boolean_style: :inline %>
         </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Tylko sale w Krakowie</label>
          <div class="col-lg-10">
            <%= p.input :internal, as: :boolean, boolean_style: :inline, :class => "form-control", label: false, :input_html => { :checked => true } %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= p.button :submit, 'Szukaj', :class => "btn btn-primary" %>
          </div>
        </div>

      </fieldset>
      <% end %>
</div>
</div>
   </div>
</div>


