%h1 Look for available places

= simple_form_for :search, url: places_path do |p|
  = p.input :group_id
  = p.input :start_date, :input_html => { :class => 'datepicker', :onclick => "datetimepicker()" }
  = p.input :end_date, :input_html => { :class => 'datepicker', :onclick => "datetimepicker()" }
  = p.button :submit